.about {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    transition: 1s;
}

.about:hover {
    background-color: rgba(255, 255, 255, 1);
}


img {
    max-width: 100%;
    height: auto;
}

img {max-width: 500px;}